### LSE Data Analytics Online Career Accelerator 

# DA201:  Data Analytics with Python

## Handling missing values (tutorial video)

This file contains the code snippets that are introduced in the Handling missing values video. 
Follow along with the demonstration to:
- find missing values in a DataFrame 


Play and pause the video to follow along with the demonstration.

### 1. Import the file and check the data set

In [1]:
# Import the Pandas package.
import pandas as pd

# Read the CSV file from the current working directory.
fitness = pd.read_csv('daily_activity.csv')

# View the top five rows of the DataFrame.
fitness.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

### 2. Check for missing values

In [7]:
# Check for missing values.
# Create a new DataFrame and use the isna() function to find missing values.
fitness_na = fitness[fitness.isna().any(axis=1)]

# View the shape of the DataFrame.
fitness_na.shape

(0, 15)

### 3. Import the file and check the data set

In [9]:
# Read the CSV file from the current working directory.
fitness_raw = pd.read_csv('daily_activity_raw.csv')

# View the top five rows of the DataFrame.
fitness_raw.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,04/12/2016,13162.0,8.500000,8.500000,NaN,1.880000,0.551193,6.599999,NaN,25.0,13.0,328.0,728.0,1985.0
1,1503960366,4/13/2016,1735.0,6.970000,6.970000,NaN,1.575245,0.690000,4.713815,NaN,21.0,19.0,217.0,776.0,1797.0
2,1503960366,4/14/2016,146.0,6.740000,6.740000,NaN,2.445722,0.459646,3.918584,NaN,3.0,11.0,181.0,1218.0,1776.0
3,1503960366,4/15/2016,9762.0,6.282988,6.282988,NaN,2.141494,1.260000,2.830000,NaN,29.0,34.0,29.0,726.0,1745.0
4,1503960366,4/16/2016,12669.0,8.160000,8.160000,NaN,2.713815,0.500000,5.400000,NaN,36.0,1.0,221.0,773.0,1863.0

### 4. Check for missing values

In [10]:
# Check for missing values.
# Create a new DataFrame and use the isna() function to find missing values.
fitness_raw_na = fitness[fitness_raw.isna().any(axis=1)]

# View the shape of the DataFrame.
fitness_raw_na.shape

(937, 15)