### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

## Import CSV file into Jupyter Notebook (tutorial video)

It is good practice to store CSV files in the same directory as your Jupyter Notebook. However, this might not always be possible. How do you upload a CSV file stored in a different directory into your Jupyter Notebook? You can either move the file manually to the Jupyter Notebook directory, or you can do it within Jupyter Notebook.

Letâ€™s explore how to upload the fitness data set, `daily_activity.csv`

Play and pause the video to run the code snippets and watch the demonstration.

## 1. Import NumPy and Pandas

In [2]:
# Import packages with standard conventions
import numpy as np
import pandas as pd

## 2. Upload the CSV file as shown in the video

Follow the steps in the video to upload the CSV file.

## 3. Read the CSV file with Pandas

In [8]:
# Read the CSV file with Pandas
fitness = pd.read_csv('daily_activity.csv')

# View the DataFrame
fitness

print(fitness.shape)
print(fitness.dtypes)

(940, 15)
Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [9]:
print(fitness.head())

           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

In [10]:
print(fitness.tail())

             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
935  8877689391     5/8/2016       10686       8.110000         8.110000
936  8877689391     5/9/2016       20226      18.250000        18.250000
937  8877689391    5/10/2016       10733       8.150000         8.150000
938  8877689391    5/11/2016       21420      19.559999        19.559999
939  8877689391    5/12/2016        8064       6.120000         6.120000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
935                       0.0                1.08                      0.20
936                       0.0               11.10                      0.80
937                       0.0                1.35                      0.46
938                       0.0               13.22                      0.41
939                       0.0                1.82                      0.04

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
935                 6.80                     0.00                 17
936                 6.24                     0.05                 73
937                 6.28                     0.00                 18
938                 5.89                     0.00                 88
939                 4.25                     0.00                 23

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
935                    4                   245              1174      2847
936                   19                   217              1131      3710
937                   11                   224              1187      2832
938                   12                   213              1127      3832
939                    1                   137               770      1849

In [11]:
fitness.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [12]:
fitness.tail()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [17]:
# if you want to remove headers

pd.read_csv('daily_activity.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
1,1503960366,4/12/2016,13162,8.5,8.5,0,1.87999999523163,0.550000011920929,6.05999994277954,0,25,13,328,728,1985
2,1503960366,4/13/2016,10735,6.96999979019165,6.96999979019165,0,1.57000005245209,0.689999997615814,4.71000003814697,0,21,19,217,776,1797
3,1503960366,4/14/2016,10460,6.73999977111816,6.73999977111816,0,2.44000005722046,0.400000005960464,3.91000008583069,0,30,11,181,1218,1776
4,1503960366,4/15/2016,9762,6.28000020980835,6.28000020980835,0,2.14000010490417,1.25999999046326,2.82999992370605,0,29,34,209,726,1745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,8877689391,5/8/2016,10686,8.10999965667725,8.10999965667725,0,1.08000004291534,0.200000002980232,6.80000019073486,0,17,4,245,1174,2847
937,8877689391,5/9/2016,20226,18.25,18.25,0,11.1000003814697,0.800000011920929,6.23999977111816,0.0500000007450581,73,19,217,1131,3710
938,8877689391,5/10/2016,10733,8.14999961853027,8.14999961853027,0,1.35000002384186,0.46000000834465,6.28000020980835,0,18,11,224,1187,2832
939,8877689391,5/11/2016,21420,19.5599994659424,19.5599994659424,0,13.2200002670288,0.409999996423721,5.8899998664856,0,88,12,213,1127,3832
940,8877689391,5/12/2016,8064,6.11999988555908,6.11999988555908,0,1.82000005245209,0.0399999991059303,4.25,0,23,1,137,770,1849

In [21]:
# if you want to remove headers

pd.read_csv('daily_activity.csv', header = None, skiprows=1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [24]:
# Specify that header should be col_names (alphabetic letters).
col_names = ['a', 'b', 'c', 'd', 'e', 'f', 'g',
             'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

# Read the CSV file.
fitness = pd.read_csv('daily_activity.csv', names = col_names)

# View the DataFrame.
fitness

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
0,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
1,1503960366,4/12/2016,13162,8.5,8.5,0,1.87999999523163,0.550000011920929,6.05999994277954,0,25,13,328,728,1985
2,1503960366,4/13/2016,10735,6.96999979019165,6.96999979019165,0,1.57000005245209,0.689999997615814,4.71000003814697,0,21,19,217,776,1797
3,1503960366,4/14/2016,10460,6.73999977111816,6.73999977111816,0,2.44000005722046,0.400000005960464,3.91000008583069,0,30,11,181,1218,1776
4,1503960366,4/15/2016,9762,6.28000020980835,6.28000020980835,0,2.14000010490417,1.25999999046326,2.82999992370605,0,29,34,209,726,1745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,8877689391,5/8/2016,10686,8.10999965667725,8.10999965667725,0,1.08000004291534,0.200000002980232,6.80000019073486,0,17,4,245,1174,2847
937,8877689391,5/9/2016,20226,18.25,18.25,0,11.1000003814697,0.800000011920929,6.23999977111816,0.0500000007450581,73,19,217,1131,3710
938,8877689391,5/10/2016,10733,8.14999961853027,8.14999961853027,0,1.35000002384186,0.46000000834465,6.28000020980835,0,18,11,224,1187,2832
939,8877689391,5/11/2016,21420,19.5599994659424,19.5599994659424,0,13.2200002670288,0.409999996423721,5.8899998664856,0,88,12,213,1127,3832
940,8877689391,5/12/2016,8064,6.11999988555908,6.11999988555908,0,1.82000005245209,0.0399999991059303,4.25,0,23,1,137,770,1849

In [25]:
# Rename the index column to observation.
fitness.index.names = ['observation']

# View the DataFrame.
fitness

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
observation,,,,,,,,,,,,,,,
0,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
1,1503960366,4/12/2016,13162,8.5,8.5,0,1.87999999523163,0.550000011920929,6.05999994277954,0,25,13,328,728,1985
2,1503960366,4/13/2016,10735,6.96999979019165,6.96999979019165,0,1.57000005245209,0.689999997615814,4.71000003814697,0,21,19,217,776,1797
3,1503960366,4/14/2016,10460,6.73999977111816,6.73999977111816,0,2.44000005722046,0.400000005960464,3.91000008583069,0,30,11,181,1218,1776
4,1503960366,4/15/2016,9762,6.28000020980835,6.28000020980835,0,2.14000010490417,1.25999999046326,2.82999992370605,0,29,34,209,726,1745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,8877689391,5/8/2016,10686,8.10999965667725,8.10999965667725,0,1.08000004291534,0.200000002980232,6.80000019073486,0,17,4,245,1174,2847
937,8877689391,5/9/2016,20226,18.25,18.25,0,11.1000003814697,0.800000011920929,6.23999977111816,0.0500000007450581,73,19,217,1131,3710
938,8877689391,5/10/2016,10733,8.14999961853027,8.14999961853027,0,1.35000002384186,0.46000000834465,6.28000020980835,0,18,11,224,1187,2832
939,8877689391,5/11/2016,21420,19.5599994659424,19.5599994659424,0,13.2200002670288,0.409999996423721,5.8899998664856,0,88,12,213,1127,3832
940,8877689391,5/12/2016,8064,6.11999988555908,6.11999988555908,0,1.82000005245209,0.0399999991059303,4.25,0,23,1,137,770,1849

In [26]:
# Specify that header should be col_names (alphabetic letters).
col_names2 = ['I1', 'I2', 'c', 'd', 'e', 'f', 'g',
             'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

# Read the CSV file.
fitness = pd.read_csv('daily_activity.csv', names = col_names2, index_col=['I1', 'I2'])

# View the DataFrame.
fitness

                                  c                 d                 e  \
I1         I2
Id         ActivityDate  TotalSteps     TotalDistance   TrackerDistance
1503960366 4/12/2016          13162               8.5               8.5
           4/13/2016          10735  6.96999979019165  6.96999979019165
           4/14/2016          10460  6.73999977111816  6.73999977111816
           4/15/2016           9762  6.28000020980835  6.28000020980835
...                             ...               ...               ...
8877689391 5/8/2016           10686  8.10999965667725  8.10999965667725
           5/9/2016           20226             18.25             18.25
           5/10/2016          10733  8.14999961853027  8.14999961853027
           5/11/2016          21420  19.5599994659424  19.5599994659424
           5/12/2016           8064  6.11999988555908  6.11999988555908

                                                f                   g  \
I1         I2
Id         ActivityDate  LoggedActivitiesDistance  VeryActiveDistance
1503960366 4/12/2016                            0    1.87999999523163
           4/13/2016                            0    1.57000005245209
           4/14/2016                            0    2.44000005722046
           4/15/2016                            0    2.14000010490417
...                                           ...                 ...
8877689391 5/8/2016                             0    1.08000004291534
           5/9/2016                             0    11.1000003814697
           5/10/2016                            0    1.35000002384186
           5/11/2016                            0    13.2200002670288
           5/12/2016                            0    1.82000005245209

                                                h                    i  \
I1         I2
Id         ActivityDate  ModeratelyActiveDistance  LightActiveDistance
1503960366 4/12/2016            0.550000011920929     6.05999994277954
           4/13/2016            0.689999997615814     4.71000003814697
           4/14/2016            0.400000005960464     3.91000008583069
           4/15/2016             1.25999999046326     2.82999992370605
...                                           ...                  ...
8877689391 5/8/2016             0.200000002980232     6.80000019073486
           5/9/2016             0.800000011920929     6.23999977111816
           5/10/2016             0.46000000834465     6.28000020980835
           5/11/2016            0.409999996423721      5.8899998664856
           5/12/2016           0.0399999991059303                 4.25

                                               j                  k  \
I1         I2
Id         ActivityDate  SedentaryActiveDistance  VeryActiveMinutes
1503960366 4/12/2016                           0                 25
           4/13/2016                           0                 21
           4/14/2016                           0                 30
           4/15/2016                           0                 29
...                                          ...                ...
8877689391 5/8/2016                            0                 17
           5/9/2016           0.0500000007450581                 73
           5/10/2016                           0                 18
           5/11/2016                           0                 88
           5/12/2016                           0                 23

                                           l                     m  \
I1         I2
Id         ActivityDate  FairlyActiveMinutes  LightlyActiveMinutes
1503960366 4/12/2016                      13                   328
           4/13/2016                      19                   217
           4/14/2016                      11                   181
           4/15/2016                      34                   209
...                                      ...                   ...
8877689391 5/8/2016                        4                   245
           5/9/2016                       19                   217
           5/10/2016                      11                   224
           5/11/2016                      12                   213
           5/12/2016                       1                   137

                                        n         o
I1         I2
Id         ActivityDate  SedentaryMinutes  Calories
1503960366 4/12/2016                  728      1985
           4/13/2016                  776      1797
           4/14/2016                 1218      1776
           4/15/2016                  726      1745
...                                   ...       ...
8877689391 5/8/2016                  1174      2847
           5/9/2016                  1131      3710
           5/10/2016                 1187      2832
           5/11/2016                 1127      3832
           5/12/2016                  770      1849

[941 rows x 13 columns]

In [27]:
# Skip specific rows.
fitness = pd.read_csv('daily_activity.csv', skiprows=[1, 2, 5, 10])

fitness

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
1,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
2,1503960366,4/17/2016,9705,6.480000,6.480000,0.0,3.19,0.78,2.51,0.00,38,20,164,539,1728
3,1503960366,4/18/2016,13019,8.590000,8.590000,0.0,3.25,0.64,4.71,0.00,42,16,233,1149,1921
4,1503960366,4/19/2016,15506,9.880000,9.880000,0.0,3.53,1.32,5.03,0.00,50,31,264,775,2035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
932,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
933,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
934,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
935,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [28]:

# Use the head() function to subset data set.
fitness.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
1,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
2,1503960366,4/17/2016,9705,6.48,6.48,0.0,3.19,0.78,2.51,0.0,38,20,164,539,1728
3,1503960366,4/18/2016,13019,8.59,8.59,0.0,3.25,0.64,4.71,0.0,42,16,233,1149,1921
4,1503960366,4/19/2016,15506,9.88,9.88,0.0,3.53,1.32,5.03,0.0,50,31,264,775,2035

In [29]:
# Option 1
my_list = fitness.columns.values.tolist()

print(my_list)

['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance', 'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories']

In [30]:
fitness_fcol = pd.read_csv('daily_activity.csv', 
                            usecols=['Id', 'ActivityDate', 'TotalSteps'])
# print the dataframe
fitness_fcol.head()

           Id ActivityDate  TotalSteps
0  1503960366    4/12/2016       13162
1  1503960366    4/13/2016       10735
2  1503960366    4/14/2016       10460
3  1503960366    4/15/2016        9762
4  1503960366    4/16/2016       12669

In [33]:
fitness_nrwos = pd.read_csv('daily_activity.csv', nrows= 10)

fitness_nrwos

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0,1.88,0.55,6.06,0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0,1.57,0.69,4.71,0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0,2.44,0.40,3.91,0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0,2.14,1.26,2.83,0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0,2.71,0.41,5.04,0,36,10,221,773,1863
5,1503960366,4/17/2016,9705,6.48,6.48,0,3.19,0.78,2.51,0,38,20,164,539,1728
6,1503960366,4/18/2016,13019,8.59,8.59,0,3.25,0.64,4.71,0,42,16,233,1149,1921
7,1503960366,4/19/2016,15506,9.88,9.88,0,3.53,1.32,5.03,0,50,31,264,775,2035
8,1503960366,4/20/2016,10544,6.68,6.68,0,1.96,0.48,4.24,0,28,12,205,818,1786
9,1503960366,4/21/2016,9819,6.34,6.34,0,1.34,0.35,4.65,0,19,8,211,838,1775

In [37]:
print(fitness.shape)

fitness_skiprows = pd.read_csv('daily_activity.csv', skiprows = 500)

print(fitness_skiprows.shape)

(936, 15)
(440, 15)

In [43]:
print(fitness.shape)

fitness_skipfooter = pd.read_csv('daily_activity.csv', skipfooter = 1)

print(fitness_skipfooter.shape)

(936, 15)
(939, 15)

/var/folders/2y/jw_fvb1s0nncctnyn9dc159w0000gn/T/ipykernel_38482/3864540272.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  fitness_skipfooter = pd.read_csv('daily_activity.csv', skipfooter = 1)

In [46]:
q2 = pd.read_csv ('daily_activity.csv',  
                  usecols=['Id', 
                           'VeryActiveDistance', 
                           'ModeratelyActiveDistance',
                           'LightActiveDistance', 
                           'SedentaryActiveDistance',
                           'VeryActiveMinutes',
                           'FairlyActiveMinutes',
                           'LightlyActiveMinutes', 
                           'SedentaryMinutes'])
q2.head()

,Id,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes
0,1503960366,1.88,0.55,6.06,0.0,25,13,328,728
1,1503960366,1.57,0.69,4.71,0.0,21,19,217,776
2,1503960366,2.44,0.40,3.91,0.0,30,11,181,1218
3,1503960366,2.14,1.26,2.83,0.0,29,34,209,726
4,1503960366,2.71,0.41,5.04,0.0,36,10,221,773

In [47]:
q3 = pd.read_csv ('daily_activity.csv', 
                  nrows=15,  
                  usecols=['Id',
                           'Calories'])

q3

            Id  Calories
0   1503960366      1985
1   1503960366      1797
2   1503960366      1776
3   1503960366      1745
4   1503960366      1863
5   1503960366      1728
6   1503960366      1921
7   1503960366      2035
8   1503960366      1786
9   1503960366      1775
10  1503960366      1827
11  1503960366      1949
12  1503960366      1788
13  1503960366      2013
14  1503960366      1970